
$light-color: #E3E6EA;
$light-accent-color: #A3AAB8;
$primary-color: #4172F6;

/* Custom Class Functions */
@for $i from 1 through 500 {
  .w-#{$i} {
    width: #{$i}px;
    max-width: #{$i}px;
  }
  @if $i <= 100 {
    .w-responsive-#{$i} {
      width: #{$i} + '%';
      max-width: #{$i} + '%';
    }
    .flex-gap-#{$i} {
      gap: #{$i} + 'px';
    }
    .font-size-#{$i} {
      font-size: #{$i} + 'px';
    }
    .mt-#{$i} {
      margin-top: #{$i} + 'px';
    }
    .mb-#{$i} {
      margin-bottom: #{$i} + 'px';
    }
    .mr-#{$i} {
      margin-right: #{$i} + 'px';
    }
    .ml-#{$i} {
      margin-left: #{$i} + 'px';
    }
  }
}
