<mat-card class="route--card-wrapper">
  <mat-card-header>
    <div class="flex align-center flex-justify-space-between full-width">
      <h3 class="flex align-center flex-gap-10">
        <div class="heading--icon-wrapper flex align-center">
          <mat-icon class="primary-color" aria-hidden="false" fontIcon="route"></mat-icon>
        </div>
        <span>Route</span>
        <span class="light-accent-color">({{routes.total}})</span>
      </h3>
      <div class="card--heading-action">
        <button mat-stroked-button>Show route</button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card--content-heading mt-10">
      <label>Loading ({{ routes.loading.length }})</label>
    </div>
    <div class="card--content-timeline">
      <ul class="custom--timeline">
        <li *ngFor="let data of routes.loading; let i = index" [ngClass]="{'active': i == 0}">
          <div class="item font-600 mb-10">
            {{ data.address.street1 }}, 
            {{ data.address.street2 }}, 
            {{ data.address.city }}, 
            {{ data.address.state }} {{ data.address.zip }}
          </div>
          <div class="flex align-center flex-gap-10 flex-justify-space-between">
            <div class="item--content-details flex align-center flex-gap-10">
              <button mat-stroked-button>
                <mat-icon aria-hidden="false" fontIcon="schedule"></mat-icon>
                <span>
                  {{ parseDate(data.expectedAt).time }}, 
                  {{ parseDate(data.expectedAt).day }} 
                  {{ parseDate(data.expectedAt).date }} 
                </span> 
              </button>
              <span class="light-accent-color font-size-14">Loading {{i + 1}}</span>
            </div>
            <div *ngIf="data.comments.length > 0" class="item--message flex align-center flex-gap-5 light-color cursor-pointer">
              <mat-icon aria-hidden="false" fontIcon="chat_bubble"></mat-icon> 
              <span class="font-size-12">{{ data.comments.length }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="card--content-heading mt-15">
      <label>Loading ({{ routes.unloading.length }})</label>
    </div>
    <div class="card--content-timeline">
      <ul class="custom--timeline">
        <li *ngFor="let data of routes.unloading; let i = index">
          <div class="item font-600 mb-10">
            {{ data.address.street1 }}, 
            {{ data.address.street2 }}, 
            {{ data.address.city }}, 
            {{ data.address.state }} {{ data.address.zip }}
          </div>
          <div class="flex align-center flex-gap-10 flex-justify-space-between">
            <div class="item--content-details flex align-center flex-gap-10">
              <button mat-stroked-button>
                <mat-icon aria-hidden="false" fontIcon="schedule"></mat-icon>
                <span>
                  {{ parseDate(data.expectedAt).time }}, 
                  {{ parseDate(data.expectedAt).day }} 
                  {{ parseDate(data.expectedAt).date }} 
                </span> 
              </button>
              <span class="light-accent-color font-size-14">Unloading {{i + 1}}</span>
            </div>
            <div *ngIf="data.comments.length > 0" class="item--message flex align-center flex-gap-5 light-color">
              <mat-icon aria-hidden="false" fontIcon="chat_bubble"></mat-icon> 
              <span class="font-size-12">{{ data.comments.length }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
