@import '/src/assets/scss/global.scss';

.route--card-wrapper {
  width: 100%;
}
.card--content-heading {
  label {
    color: $light-accent-color;
  }
}
.heading--icon-wrapper {
  background: #F1F4FE;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  height: 24px;
  width: 24px;
  mat-icon{ 
    height: 18px !important;
    font-size: 20px !important;
  }
}
.custom--timeline {
  li {
    position: relative;
    padding-top: 3px;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    border-left: 2px solid $light-color;
    margin-left: 10px;
    &:last-child {
      border: 0px;
      padding-bottom: 0;
    }
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      background: white;
      border: 2px solid transparent;
      border-radius: 50%;
      position: absolute;
      left: -11px;
      top: 0px;
    }
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background: $light-color;
      border-radius: 50%;
      position: absolute;
      left: -5px;
      top: 6px;
    }
    &.active {
      &:before {
        content: "";
        width: 18px;
        height: 18px;
        background: white;
        border: 2px solid $primary-color;
        border-radius: 50%;
        position: absolute;
        left: -12px;
        top: 0px;
      }
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background: #4172F6;
        border-radius: 50%;
        position: absolute;
        left: -6px;
        top: 6px;
      }
    }
  }
  .item {
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
}