
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test--app-primary: mat.define-palette(mat.$indigo-palette);
$test--app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test--app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test--app-theme: mat.define-light-theme((
  color: (
    primary: $test--app-primary,
    accent: $test--app-accent,
    warn: $test--app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($test--app-theme);

/* You can add global styles to this file, and also import other style files */
@import '/src/assets/scss/global.scss';

html, body { height: 100%; background-color: #EFF0F3; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul, li{
  list-style: none;
  padding: 0;
}
.light-accent-color {
  color: $light-accent-color;
}
.light-color {
  color: $light-color;
}
.primary-color {
  color: $primary-color;
}
.full-width {
  width: 100%;
}
.flex {
  display: flex;
  &.align-center {
    align-items: center;
  }
}
.flex-justify-space-between {
  justify-content: space-between;
}
.font-600 {
  font-weight: 600 !important;
}
.cursor-pointer {
  cursor: pointer;
}
